In [2]:
import pandas as pd
import yfinance as yf

In [9]:
tickers = pd.read_csv("sp500_companies.csv")
tickers = tickers[['Symbol','Sector']]
tickers

    Symbol                  Sector
0     AAPL              Technology
1     NVDA              Technology
2     MSFT              Technology
3     AMZN       Consumer Cyclical
4    GOOGL  Communication Services
..     ...                     ...
497    CZR       Consumer Cyclical
498    BWA       Consumer Cyclical
499   QRVO              Technology
500    FMC         Basic Materials
501   AMTM             Industrials

[502 rows x 2 columns]

In [21]:
metrics_list = []
for sector in ['Technology', 'Energy', 'Healthcare']:
    ticker_sector = tickers[tickers['Sector'] == sector]['Symbol'].tolist()
    for ticker in ticker_sector:
        metrics = {}
        try:
            stock = yf.Ticker(ticker).info
            metrics['Stock'] = ticker
            metrics['EPS'] = stock.get('forwardEps', None)
            metrics['P/E_Ratio'] = stock.get('forwardPE', None) 
            metrics['Sector'] = stock.get('sector', None) 
            metrics['Market_Cap'] = stock.get('marketCap', None) 
            metrics_list.append(metrics)
        except:
            print('ticker_failed')
metrics_df = pd.DataFrame(metrics_list).sort_values('P/E_Ratio', ascending = False)
metrics_df

    Stock    EPS   P/E_Ratio      Sector    Market_Cap
12   PLTR   0.47  140.929470  Technology  155429126144
25   CRWD   4.27   79.429306  Technology   88356986880
111  ISRG   7.86   69.696470  Healthcare  194997305344
147  PODD   3.87   69.149460  Healthcare   19067459584
8     NOW  16.70   61.718407  Technology  216443469824
..    ...    ...         ...         ...           ...
128   CVS   6.48    7.094525  Healthcare   60416262144
61    WDC   8.81    7.087758  Technology   22146060288
103   APA   2.75    6.764168      Energy    8760345600
155  VTRS   2.67    4.396523  Healthcare   14275328000
153  MRNA  -8.70   -4.861558  Healthcare   16612573184

[166 rows x 5 columns]

In [28]:
healthcare_sorted = metrics_df[metrics_df['Sector'] == 'Healthcare']
healthcare_sorted = healthcare_sorted[healthcare_sorted['Market_Cap'] >= healthcare_sorted['Market_Cap'].median()]
healthcare_sorted

    Stock    EPS  P/E_Ratio      Sector    Market_Cap
111  ISRG   7.86  69.696470  Healthcare  194997305344
104   LLY  22.66  35.421093  Healthcare  719362850816
135  IDXX  11.96  35.159737  Healthcare   35403649024
116   BSX   2.79  33.860560  Healthcare  141413892096
129    EW   2.45  30.011078  Healthcare   43733651456
112   DHR   8.38  28.308693  Healthcare  171966398464
115   SYK  13.53  27.155203  Healthcare  139395448832
125   ZTS   6.34  25.471907  Healthcare   74451222528
109   TMO  23.49  23.259325  Healthcare  208435757056
134   RMD  10.29  22.688261  Healthcare   34668728320
120  VRTX  18.77  21.889010  Healthcare  106130505728
110   ABT   5.16  21.786022  Healthcare  194797207552
132  GEHC   4.67  18.207909  Healthcare   39409844224
105   UNH  29.90  17.429987  Healthcare  479182684160
133   IQV  12.07  17.033262  Healthcare   37084172288
126   MCK  36.81  15.854289  Healthcare   74927529984
122  REGN  45.31  15.330950  Healthcare   80613687296
127   BDX  15.73  14.946241  Healthcare   67986522112
107  ABBV  12.13  14.416417  Healthcare  309549891584
130   COR  16.36  14.367987  Healthcare   45967769600
119   MDT   5.85  13.812543  Healthcare  106019512320
106   JNJ  10.60  13.356336  Healthcare  342026518528
114  AMGN  20.67  12.633237  Healthcare  140957286400
124   HCA  24.55  12.301210  Healthcare   78838579200
118  GILD   7.43  11.884613  Healthcare  112014737408
121   ELV  34.95  10.813916  Healthcare   88882274304
108   MRK   9.40  10.438589  Healthcare  251066761216
113   PFE   2.93   9.118426  Healthcare  151421976576
123    CI  31.32   8.854368  Healthcare   77693689856
117   BMY   7.03   7.920025  Healthcare  113233289216
128   CVS   6.48   7.094525  Healthcare   60416262144

In [27]:
energy_sorted = metrics_df[metrics_df['Sector'] == 'Energy']
energy_sorted = energy_sorted[energy_sorted['Market_Cap'] >= energy_sorted['Market_Cap'].median()]
energy_sorted

   Stock    EPS  P/E_Ratio  Sector    Market_Cap
86   WMB   2.09  26.265991  Energy   68739866624
87   KMI   1.26  22.303360  Energy   62850301952
88   OKE   5.97  16.842932  Energy   59956695040
92   OXY   3.16  14.075425  Energy   48136994816
83   CVX  11.04  13.389992  Energy  273036361728
82   XOM   7.87  12.981791  Energy  468252884992
90   PSX   9.49  12.724278  Energy   48009990144
84   COP   8.03  12.147462  Energy  131839639552
85   EOG  11.06  11.878076  Energy   73911558144
91  FANG  14.64  11.331712  Energy   51030917120
89   SLB   3.67  11.186518  Energy   54537232384

In [26]:
technology_sorted = metrics_df[metrics_df['Sector'] == 'Technology']
technology_sorted = technology_sorted[technology_sorted['Market_Cap'] >= technology_sorted['Market_Cap'].median()]
technology_sorted

   Stock    EPS   P/E_Ratio      Sector     Market_Cap
12  PLTR   0.47  140.929470  Technology   155429126144
25  CRWD   4.27   79.429306  Technology    88356986880
8    NOW  16.70   61.718407  Technology   216443469824
37  FICO  37.17   52.162210  Technology    47829528576
19  PANW   7.20   47.796886  Technology   113798201344
16  ANET   9.73   46.511440  Technology   145514790912
29  CDNS   6.85   43.555847  Technology    83027517440
33  FTNT   2.41   39.044210  Technology    73610141696
26   APH   2.16   32.586746  Technology    86599417856
14   TXN   5.88   31.330840  Technology   174835499008
31   MSI  14.69   30.904057  Technology    77331832832
34  ADSK   9.18   30.825682  Technology    63870361600
1   NVDA   4.12   30.564445  Technology  3328436076544
3   AVGO   6.17   29.475110  Technology  1074857574400
0   AAPL   8.31   28.520203  Technology  3580177154048
32  SNPS  14.87   28.491371  Technology    77598203904
5    CRM  11.13   28.306879  Technology   304182460416
13  INTU  22.23   28.235617  Technology   175241805824
2   MSFT  14.95   27.908827  Technology  3156553760768
20   ADP  10.87   26.378613  Technology   118932602880
38  PAYX   5.29   26.175999  Technology    50498805760
7    ACN  14.07   25.154217  Technology   223752978432
35   ROP  20.02   24.950144  Technology    54718976000
22   ADI   7.54   23.690798  Technology   109403676672
11   AMD   5.10   22.601908  Technology   188310863872
4   ORCL   7.16   21.941753  Technology   456295677952
18  UBER   2.36   20.974287  Technology   138913693696
28  KLAC  32.82   20.677757  Technology    91786190848
9    IBM  10.61   20.448004  Technology   206362394624
21    FI  10.19   19.662468  Technology   116759166976
27  INTC   0.97   19.640823  Technology    85742395392
24  LRCX   4.27   17.987822  Technology    99126239232
10  ADBE  20.55   17.605486  Technology   184699289600
17  AMAT   9.69   16.373692  Technology   139669028864
36  NXPI  13.07   15.867400  Technology    53301600256
40   TEL   8.99   15.631484  Technology    42154917888
6   CSCO   3.90   14.924881  Technology   233947332608
39   FIS   5.71   13.508118  Technology    42718449664
15  QCOM  12.23   12.826389  Technology   174404780032
30  DELL   9.40   12.210705  Technology    83571720192
23    MU  12.87    7.739907  Technology   110681645056

In [29]:
healthcare_stocks = healthcare_sorted['Stock'].tolist()
healthcare_stocks = healthcare_stocks[:7] + healthcare_stocks[-3:]
healthcare_stocks

['ISRG', 'LLY', 'IDXX', 'BSX', 'EW', 'DHR', 'SYK', 'CI', 'BMY', 'CVS']

In [31]:
energy_stocks = energy_sorted['Stock'].tolist()
energy_stocks = energy_stocks[:7] + energy_stocks[-3:]
energy_stocks

['WMB', 'KMI', 'OKE', 'OXY', 'CVX', 'XOM', 'PSX', 'EOG', 'FANG', 'SLB']

In [32]:
technology_stocks = technology_sorted['Stock'].tolist()
technology_stocks = technology_stocks[:7] + technology_stocks[-3:]
technology_stocks

['PLTR', 'CRWD', 'NOW', 'FICO', 'PANW', 'ANET', 'CDNS', 'QCOM', 'DELL', 'MU']