In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
from preprocessing import *

In [4]:
healthcare_ticker = ['ISRG', 'LLY', 'IDXX', 'BSX', 'EW', 'DHR', 'SYK', 'CI', 'BMY', 'CVS']
energy_ticker = ['WMB', 'KMI', 'OKE', 'OXY', 'CVX', 'XOM', 'PSX', 'EOG', 'FANG', 'SLB']
technology_ticker = ['PLTR', 'CRWD', 'NOW', 'FICO', 'PANW', 'ANET', 'CDNS', 'QCOM', 'DELL', 'MU']

In [ ]:
start = '2019-01-01'
end = '2025-01-10'
healthcare_dic = preprocess(healthcare_ticker, start, end)
energy_dic = preprocess(energy_ticker, start, end)
tech_dic = preprocess(technology_ticker, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,ema_10,ema_25,ema_50,...,pct_change,ema_rec_short,ema_rec_long,hma_rec_short,hma_rec_long,rsi_rec,macd_rec,mom_rec,bbands_rec,ao_rec
108,2019-06-07,162.153336,166.626663,161.786667,166.346664,166.346664,2533800,160.489506,162.882417,167.750164,...,0.028439,-2,1,-2,-2,0,2,2,1,-1
109,2019-06-10,166.866669,172.023331,166.866669,169.906662,169.906662,4415100,162.201717,163.422744,167.834733,...,0.021401,-2,1,-2,-2,0,2,2,1,-1
110,2019-06-11,170.906662,172.173340,167.526672,168.853333,168.853333,2270700,163.411101,163.840481,167.874678,...,-0.006199,-2,1,-1,-2,0,2,2,0,1
111,2019-06-12,168.593338,169.949997,166.576660,167.306671,167.306671,1712400,164.119387,164.107111,167.852403,...,-0.009160,0,1,-1,-2,0,2,2,0,1
112,2019-06-13,167.963333,169.253326,166.966660,168.533340,168.533340,1296000,164.921924,164.447591,167.879107,...,0.007332,-2,1,-1,-2,0,2,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510,2025-01-02,521.190002,528.890015,520.919983,524.030029,524.030029,907700,530.017567,532.707832,526.277563,...,0.003966,0,-1,0,2,0,-2,-2,0,-2
1511,2025-01-03,527.609985,536.650024,525.349976,535.289978,535.289978,1250900,530.976187,532.906459,526.630991,...,0.021487,0,-1,0,1,0,-2,2,1,-2
1512,2025-01-06,535.289978,543.739990,532.150024,542.369995,542.369995,1229200,533.047789,533.634423,527.248207,...,0.013227,0,-2,-2,0,0,-2,2,1,-2
1513,2025-01-07,547.669983,550.000000,530.450012,531.880005,531.880005,1589500,532.835464,533.499468,527.429846,...,-0.019341,0,-1,0,1,0,-2,2,0,-2
1514,2025-01-08,533.330017,547.469971,532.000000,544.020020,544.020020,1359300,534.869020,534.308741,528.080441,...,0.022825,0,-2,-1,-1,0,2,2,1,-1

In [6]:
healthcare_dic['ISRG']

,Date,Open,High,Low,Close,Adj Close,Volume,ema_10,ema_25,ema_50,...,pct_change,ema_rec_short,ema_rec_long,hma_rec_short,hma_rec_long,rsi_rec,macd_rec,mom_rec,bbands_rec,ao_rec
108,2019-06-07,162.153336,166.626663,161.786667,166.346664,166.346664,2533800,160.489506,162.882417,167.750164,...,0.028439,-2,1,-2,-2,0,2,2,1,-1
109,2019-06-10,166.866669,172.023331,166.866669,169.906662,169.906662,4415100,162.201717,163.422744,167.834733,...,0.021401,-2,1,-2,-2,0,2,2,1,-1
110,2019-06-11,170.906662,172.173340,167.526672,168.853333,168.853333,2270700,163.411101,163.840481,167.874678,...,-0.006199,-2,1,-1,-2,0,2,2,0,1
111,2019-06-12,168.593338,169.949997,166.576660,167.306671,167.306671,1712400,164.119387,164.107111,167.852403,...,-0.009160,0,1,-1,-2,0,2,2,0,1
112,2019-06-13,167.963333,169.253326,166.966660,168.533340,168.533340,1296000,164.921924,164.447591,167.879107,...,0.007332,-2,1,-1,-2,0,2,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510,2025-01-02,521.190002,528.890015,520.919983,524.030029,524.030029,907700,530.017567,532.707832,526.277563,...,0.003966,0,-1,0,2,0,-2,-2,0,-2
1511,2025-01-03,527.609985,536.650024,525.349976,535.289978,535.289978,1250900,530.976187,532.906459,526.630991,...,0.021487,0,-1,0,1,0,-2,2,1,-2
1512,2025-01-06,535.289978,543.739990,532.150024,542.369995,542.369995,1229200,533.047789,533.634423,527.248207,...,0.013227,0,-2,-2,0,0,-2,2,1,-2
1513,2025-01-07,547.669983,550.000000,530.450012,531.880005,531.880005,1589500,532.835464,533.499468,527.429846,...,-0.019341,0,-1,0,1,0,-2,2,0,-2
1514,2025-01-08,533.330017,547.469971,532.000000,544.020020,544.020020,1359300,534.869020,534.308741,528.080441,...,0.022825,0,-2,-1,-1,0,2,2,1,-1